.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
  gap: 30px;
  margin-top: 40px;
}
.img {
  height: 300px;
  width: 420px;
  max-width: 98vw;
  object-fit: cover;
  transition: filter 0.3s;
}
.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.cardbody {
  width: 420px;
  max-width: 96vw;
}
